*{
    font-family: 'Ubuntu', sans-serif;
}
.body{
    box-sizing: border-box;
    background-color: #DBD5C7;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    margin: auto;
    height: 800px;
    width:  600px;
    border: 1px black solid;
    background-color: #DBD5C7;
    border-radius: 10px;
}

#bookMarkBox {
    display: block;
    padding-left: 148px;
    height: 100px;
    border: 1px black solid;
    background-color: #5681DC;
    border-radius: 10px;

}

#input{
    border-radius: 5px;
    padding: 2px;
}

#title{
    border-radius: 5px;
    padding: 2px;
}

#titleHeading{
    padding-top: 10px;
    padding-right: 10px;
    font-size: larger;
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: #DBD5C7;
}

#mybutton {

}

.examplebMark {
    margin-top: 10px;
    margin-left: 30px;
    padding-top: 10px;
    
    width: 500px;
    height: 100px;
    border: 1px black solid;
    border-radius: 5px;
    background-color:#B5B0A2;
}
.flex  {
    display: flex;
    flex-direction: row;
    
}

.flex1{
    flex-grow: 3;
}

.buttonHolder {
    padding: 18px;
}

.icon {
    margin: auto;
    flex-grow: 0.3;
    padding-left: 20px;
}

.title {
    font-family: 'Ubuntu', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid grey;
    background-color: rgb(233, 230, 223);

}

.url{
    font-family: 'Ubuntu', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid grey;
    background-color: rgb(233, 230, 223);
}

.favorite{
    padding: 5px;
}

.favorite::before {
padding: 2px;
content: '\2665';
color: red;
}

#bookmark-template{
    margin-top: 10px;
    margin-left: 30px;
    padding-top: 10px;
    
    width: 500px;
    height: 100px;
    border: 1px black solid;
    border-radius: 5px;
    background-color:#B5B0A2;
}



