.body{
    box-sizing: border-box;
}

.container {
    padding-top: 30px;
    margin: auto;
    height: 800px;
    width:  600px;
    border: 1px black solid;
}

.bookMarkBox {
    display: block;
    
    padding-top: 10px;
    margin: auto;
    height: 600px;
    width: 451px;
    border: 1px black solid;
}

#bMark {




}

.newBmark {
    width: 500px;
    height: 200px;
    border: 1px black solid;

}